@import "../variables.scss";

.navbar{
    display: flex;
    justify-content: end;
    margin: .7rem 1rem;
    font-weight: 700;

    &__item{
        list-style: none;
        margin: 0 1rem;
        border-bottom: 1px solid transparent;
        &:hover{
            border-bottom: 1px solid rgba($color-primary, .65);
        }

        &-link{
            text-decoration: none;
            color: rgba($color-primary, .65);
        }
    }
}