@import "../variables.scss";

.slider{
    display: flex;
    height: 40vh;
    width: 90vw;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: center;
    //border: 1px solid white;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: auto;
    margin-top: .7rem;

    &::-webkit-scrollbar{
        display: none;
    }

    
    &__img{
        flex: 1 0 auto;
        //width: 55%;
        height: 85%;
        margin: 0 2rem;
        //box-shadow: 0 0 5px 0 $color-primary;
        border-radius: 5px;
        animation: parpadeo 3.5s infinite ease-in-out;
    }

    &__arrows{
        display: flex;
        justify-content: space-around;
        align-items: end;
        //border: 1px solid white;
        margin-top: 0;
        //transition: all 3s;
        //margin-top: 4rem;

        &-left, &-right {
            width: 30px;
            height: 30px;
            color: white;
            font-size: 1.5rem;
            text-align: center;

            img{
                filter: invert(72%) sepia(7%) saturate(5%) hue-rotate(11deg) brightness(110%) contrast(97%);
                transition: all .3s;

                &:hover{
                    transform: scale(1.5);
                }
            }

            &:hover{
                cursor: pointer;
                
            }
        }
    }
}

@keyframes parpadeo {
    0%{box-shadow: 0 0 1px 0 $color-primary;}
    50%{box-shadow: 0 0 7px 0 $color-primary;}
    100%{box-shadow: 0 0 1px 0 $color-primary;}
}