@import "../variables.scss";

.histories{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    color: $color-secondary;
    margin-top: 2rem;

    .card{
        background-color: rgba($color-secondary, .15);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        width: 30%;


        img{
            height: 35%;
            width: 40%;
            margin: .7rem auto;
        }
        p{
            text-align: center;
            margin: .3rem;
            margin-bottom: 1rem;

        }
    }
}