@import "./Components/variables.scss";

@font-face {
  font-family: inter;
  src: url("./Inter-VariableFont_slnt\,wght.ttf");
}

*{
  font-family: inter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  background-color: rgba($color-black, .95);
}